{% load allauth %}
{% comment %} djlint:off {% endcomment %}
<{% if attrs.href %}a href="{{ attrs.href }}"{% else %}button{% endif %}
{% if attrs.form %}form="{{ attrs.form }}"{% endif %}
{% if attrs.id %}id="{{ attrs.id }}"{% endif %}
{% if attrs.name %}name="{{ attrs.name }}"{% endif %}
{% if attrs.value %}value="{{ attrs.value }}"{% endif %}
{% if attrs.type %}type="{{ attrs.type }}"{% endif %}
class="btn {% if attrs.variant %}{% if attrs.variant == "primary" %}btn-primary{% elif attrs.variant == "secondary" %}btn-secondary{% elif attrs.variant == "success" %}btn-success{% elif attrs.variant == "danger" %}btn-danger{% elif attrs.variant == "warning" %}btn-warning{% elif attrs.variant == "info" %}btn-info{% elif attrs.variant == "light" %}btn-light{% elif attrs.variant == "dark" %}btn-dark{% else %}btn-primary{% endif %}{% else %}btn-primary{% endif %}"
>
{% slot %}
{% endslot %}
</{% if attrs.href %}a{% else %}button{% endif %}>
